body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

svg a {
  stroke: #fff;
}

.container {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* ---------------------------- Navbar Styles ---------------------------- */
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  padding-left: 15px;
}

.navbar-brand span {
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
  font-weight: lighter;
  padding-left: 3px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-shadow: .5px .5px .5px #000;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}

/* change the color of hovered links */
.nav-item:hover .nav-link {
  color: rgba(255, 255, 255, .8);
  border-bottom: 3px solid #7c2c1c;
  padding-bottom: 8px;
  transition: 0.3s;
}

/* change the color of active links */
.nav-item.active .nav-link {
  color: rgba(255, 255, 255, .8);
  border-bottom: 3px solid #7c2c1c;
}

/* change the brand and text color */
.navbar-brand,
.navbar-text {
  color: #eaeaea;
}

/* change the brand and text color on hover */
.navbar-brand:hover,
.navbar-text:hover {
  color: #fff;
}

/* change navbar to transparent */
.navbar {
  background-color: transparent !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* add this class to navbar on scroll down */
.scrollDownColor {
  background-color: #282828 !important;
}

/* change toggler icon color */
.myToggler.navbar-toggler {
  border-color: rgba(255, 255, 255, .8);
}

.myToggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar dropdown Styles */
.dropdown-custom {
  border-radius: 0;
  background-color: #333;
  position: absolute;
  top: 100%;
  left: 13px;
  border: 1px solid rgba(0, 0, 0, .15);
  */
}

.dropdown-custom1 {
  border-radius: 0;
  background-color: #333;
  position: absolute;
  top: 80%;
  left: 0;
  border: none;
  min-width: 8rem;
}

.dropdown-custom2 {
  border-radius: 0;
  background-color: #333;
  position: absolute;
  top: 80%;
  left: 0;
  border: none;
  min-width: 7rem;
}

.dropdown-heading {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.dropdown-item {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0.9rem;
  padding-left: 0.9rem;
}

.custom-item {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.custom-item1 {
  font-size: 0.65rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.dropdown-item:hover {
  background-color: #dbdbdb;
  transition: 0.5s;
  color: #000;
}

.dropdown-item.active {
  border-bottom: 3px solid #7c2c1c;
  background-color: #282828;
  color: #fff;
}

/* ---------------------------- Header Styles ---------------------------- */
.headerImg {
  background: url("images/headers/attractions.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

.headerTitle {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 6vw; */
  font-size: 5rem;
  font-family: 'Lobster', cursive;
  color: #fff;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, .2);
  margin-bottom: 70px;
}

/* ---------------------------- Map Div Styles ---------------------------- */
.map_div {
  max-height: 80vh;
  width: 80vw;
  text-align: center;
}

.map {
  max-width: 100%;
}

/* ---------------------------- Map Info Div Styles ---------------------------- */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 10px;
}

.carousel-control-prev {
  background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px, rgba(0, 0, 0, 0.7) 100%);
}

.carousel-control-next {
  background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(0, 0, 0, 0.7) 100%);
}

.city {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #282828;
  padding-left: 10px;
  margin-right: 50px;
}

.city_img {
  width: 100%;
}

.description {
  color: #fff;
  background-color: #282828;
  margin-right: 50px;
  padding: 15px 10px;
}

.img_div {
  padding-right: 50px;
}

.mySlide {
  display: none;
}

.right_col {
  margin-left: -20px;
  padding-left: 0;
}

.subHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 3rem;
}

.description a {
  color: #fff2f2;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1rem;
}

.description a:hover {
  color: #7c2c1c;
}

/* ---------------------------- Modal Styles ---------------------------- */
.modal-body {
  text-align: center;
}

.modal-body a {
  color: #000;
}

.modal-body a:hover {
  text-decoration: none;
  color: #7c2c1c;
}

.modal_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.modal_img_div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.modal_img {
  width: 80%;
  margin-bottom: 20px;
}

.modal-content {
  border-radius: 0;
}

.modal-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

.modal-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.modal-footer {
  padding: 0.5rem 0.8rem;
}

.modal-footer .btn {
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
}

/* ---------------------------- Footer Section Styles ---------------------------- */
.footerSection {
  padding: 20px;
  background-color: #282828;
}

.footer {
  font-size: 12px;
  margin: 0;
  color: #fff;
  text-align: center;
}

/* ---------------------------- Media Queries Styles ---------------------------- */
@media (max-width: 1024px) {
  .map_div {
    padding-right: 20px;
  }

  .right_col {
    margin-left: 0;
    padding-right: 5px;
  }

  .city {
    margin-right: 10px;
  }

  .description {
    margin-right: 10px;
  }

  .img_div {
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  /* change navbar color on collapse */
  nav.navbar {
    background: #282828 !important;
  }

  .custom-item, .custom-item1, .dropdown-item {
    font-size: 0.9rem;
  }

  .city {
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
    text-align: center;
  }

  .subHeader {
    text-align: center;
  }

  .description {
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
  }

  .img_div {
    padding-right: 0;
  }

  .right_col {
    margin-left: 0;
  }

  .map_div {
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 910px) {
  .right_col {
    margin-left: -20px;
    padding-right: 0;
  }

  .subHeader {
    font-size: 2.5rem;
  }

  .city {
    margin-right: 0;
  }

  .description {
    margin-right: 0;
  }

  .img_div {
    padding-right: 0;
  }

  p {
    font-size: 13px;
  }
}

@media (max-width: 835px) {
  .right_col {
    margin-left: -10px;
  }
}

@media (max-width: 795px) {
  .right_col {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .headerImg {
    height: 70vh;
    background-attachment: inherit;
  }

  .overlay {
    height: 70vh;
  }

  .map_div {
    text-align: center;
    padding-right: 15px;
    height: 60vh;
  }

  .city {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }

  .description {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }

  .img_div {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }

  .right_col {
    text-align: center;
    margin-left: 0;
    padding-right: 0
  }

  .headerTitle {
    font-size: 4rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 495px) {
  .headerTitle {
    font-size: 3rem;
  }

  .map_div {
    height: 60vh;
    margin-top: -15px;
    padding-right: 30px;
  }

  p {
    font-size: 1rem;
  }

  .navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .subHeader {
    font-size: 2.5rem;
  }
}
